telegram-game.json
{"flowContents":{"identifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c","instanceIdentifier":"6dac474d-213b-3c65-0a98-8dbd68199e2b","name":"telegram-game","comments":"","position":{"x":-304.0,"y":136.0},"processGroups":[{"identifier":"d682bed9-0198-1000-e093-190617633d10","instanceIdentifier":"1b2d0ba9-bcd5-3dfe-2218-ade69a29503c","name":"Typing","comments":"","position":{"x":-992.0,"y":-160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d682bedd-0198-1000-96d0-d8e78f1eedea","instanceIdentifier":"942f9f86-4e53-3c39-16fd-3e7b490640d7","name":"UpdateAttribute","comments":"","position":{"x":-856.0000041847488,"y":63.93909899379332},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"loop_count":"0","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"loop_count":{"name":"loop_count","displayName":"loop_count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bed9-0198-1000-e093-190617633d10"},{"identifier":"d682bedb-0198-1000-8f6d-3e9a2d72917d","instanceIdentifier":"f449f50f-af58-3e25-eb43-9bb9ac53374d","name":"InvokeHTTP","comments":"","position":{"x":503.99999581525117,"y":79.93909899379332},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.telegram.org/bot${telegrambot_token}/sendChatAction","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bed9-0198-1000-e093-190617633d10"},{"identifier":"d682beda-0198-1000-340a-2fdb46438f6e","instanceIdentifier":"403079bf-09f1-350f-a603-19375147f6cf","name":"UpdateAttribute","comments":"","position":{"x":-856.0000041847488,"y":-152.06090100620668},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"loop_count":"${loop_count:plus(1)}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"loop_count":{"name":"loop_count","displayName":"loop_count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bed9-0198-1000-e093-190617633d10"},{"identifier":"d682bedc-0198-1000-0dd3-805ae4d0add6","instanceIdentifier":"bce86138-6bba-3cbd-7209-96e444d007f3","name":"ReplaceText","comments":"","position":{"x":-160.00000418474883,"y":79.93909899379332},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"chat_id\": \"${message_chat_id}\",\n  \"action\": \"typing\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"7 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bed9-0198-1000-e093-190617633d10"},{"identifier":"d682bede-0198-1000-88a1-6809be6b54a4","instanceIdentifier":"f49e987f-848e-385e-50ac-e65a4739dfa0","name":"RouteOnAttribute","comments":"","position":{"x":-160.00000418474883,"y":-152.06090100620668},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"next":"${loop_count:lt(11)}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"next":{"name":"next","displayName":"next","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bed9-0198-1000-e093-190617633d10"}],"inputPorts":[{"identifier":"d682bedf-0198-1000-35cd-f9397279bbe2","instanceIdentifier":"45554687-21c1-3447-4110-2a122aea6f5c","name":"input","position":{"x":-800.0,"y":320.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"d682bed9-0198-1000-e093-190617633d10"}],"outputPorts":[],"connections":[{"identifier":"d682bee5-0198-1000-2ef9-b21585d48d15","instanceIdentifier":"7d98e241-7d66-3686-cf67-0c4e12ffb5af","name":"","source":{"id":"d682bede-0198-1000-88a1-6809be6b54a4","type":"PROCESSOR","groupId":"d682bed9-0198-1000-e093-190617633d10","name":"RouteOnAttribute","comments":"","instanceIdentifier":"f49e987f-848e-385e-50ac-e65a4739dfa0"},"destination":{"id":"d682bedc-0198-1000-0dd3-805ae4d0add6","type":"PROCESSOR","groupId":"d682bed9-0198-1000-e093-190617633d10","name":"ReplaceText","comments":"","instanceIdentifier":"bce86138-6bba-3cbd-7209-96e444d007f3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bed9-0198-1000-e093-190617633d10"},{"identifier":"d682bee0-0198-1000-11d7-a5ef147a9bb1","instanceIdentifier":"73fb528d-6697-32fb-664e-bfa34a32af9b","name":"","source":{"id":"d682bede-0198-1000-88a1-6809be6b54a4","type":"PROCESSOR","groupId":"d682bed9-0198-1000-e093-190617633d10","name":"RouteOnAttribute","comments":"","instanceIdentifier":"f49e987f-848e-385e-50ac-e65a4739dfa0"},"destination":{"id":"d682beda-0198-1000-340a-2fdb46438f6e","type":"PROCESSOR","groupId":"d682bed9-0198-1000-e093-190617633d10","name":"UpdateAttribute","comments":"","instanceIdentifier":"403079bf-09f1-350f-a603-19375147f6cf"},"labelIndex":0,"zIndex":0,"selectedRelationships":["next"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-321.98425711443633,"y":-207.93907483433168}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bed9-0198-1000-e093-190617633d10"},{"identifier":"d682bee4-0198-1000-3ac0-276eec65cb84","instanceIdentifier":"dc29a96d-89ed-30fa-2333-674346215730","name":"","source":{"id":"d682beda-0198-1000-340a-2fdb46438f6e","type":"PROCESSOR","groupId":"d682bed9-0198-1000-e093-190617633d10","name":"UpdateAttribute","comments":"","instanceIdentifier":"403079bf-09f1-350f-a603-19375147f6cf"},"destination":{"id":"d682bede-0198-1000-88a1-6809be6b54a4","type":"PROCESSOR","groupId":"d682bed9-0198-1000-e093-190617633d10","name":"RouteOnAttribute","comments":"","instanceIdentifier":"f49e987f-848e-385e-50ac-e65a4739dfa0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bed9-0198-1000-e093-190617633d10"},{"identifier":"d682bee3-0198-1000-01fa-4e737cbcd3b2","instanceIdentifier":"ed2def87-8d80-3d08-de25-a682fd9bf7be","name":"","source":{"id":"d682bedc-0198-1000-0dd3-805ae4d0add6","type":"PROCESSOR","groupId":"d682bed9-0198-1000-e093-190617633d10","name":"ReplaceText","comments":"","instanceIdentifier":"bce86138-6bba-3cbd-7209-96e444d007f3"},"destination":{"id":"d682bedb-0198-1000-8f6d-3e9a2d72917d","type":"PROCESSOR","groupId":"d682bed9-0198-1000-e093-190617633d10","name":"InvokeHTTP","comments":"","instanceIdentifier":"f449f50f-af58-3e25-eb43-9bb9ac53374d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bed9-0198-1000-e093-190617633d10"},{"identifier":"d682bee2-0198-1000-6268-379545a34838","instanceIdentifier":"68183769-bdc4-37ca-7b45-58c4c9ba20dd","name":"","source":{"id":"d682bedd-0198-1000-96d0-d8e78f1eedea","type":"PROCESSOR","groupId":"d682bed9-0198-1000-e093-190617633d10","name":"UpdateAttribute","comments":"","instanceIdentifier":"942f9f86-4e53-3c39-16fd-3e7b490640d7"},"destination":{"id":"d682beda-0198-1000-340a-2fdb46438f6e","type":"PROCESSOR","groupId":"d682bed9-0198-1000-e093-190617633d10","name":"UpdateAttribute","comments":"","instanceIdentifier":"403079bf-09f1-350f-a603-19375147f6cf"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bed9-0198-1000-e093-190617633d10"},{"identifier":"d682bee1-0198-1000-673f-c73af0e8f13f","instanceIdentifier":"aa4cd87c-636d-336e-fa93-ed4b8dac7c05","name":"","source":{"id":"d682bedf-0198-1000-35cd-f9397279bbe2","type":"INPUT_PORT","groupId":"d682bed9-0198-1000-e093-190617633d10","name":"input","instanceIdentifier":"45554687-21c1-3447-4110-2a122aea6f5c"},"destination":{"id":"d682bedd-0198-1000-96d0-d8e78f1eedea","type":"PROCESSOR","groupId":"d682bed9-0198-1000-e093-190617633d10","name":"UpdateAttribute","comments":"","instanceIdentifier":"942f9f86-4e53-3c39-16fd-3e7b490640d7"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bed9-0198-1000-e093-190617633d10"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682becf-0198-1000-0502-81db4515ab80","instanceIdentifier":"da58a8dd-fca9-3ce7-dcf1-a71afc0b6a94","name":"route-messages","comments":"","position":{"x":-1640.0,"y":104.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d682bed1-0198-1000-c4d1-1bb496b7aa13","instanceIdentifier":"47966f32-a64e-34fa-b903-ca12aa33e768","name":"RouteOnAttribute","comments":"","position":{"x":-288.0,"y":224.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Routing Strategy":"Route to Property name","callback":"${telegram.event_type:equals(\"callback\")}","command":"${telegram.event_type:equals(\"command\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"callback":{"name":"callback","displayName":"callback","identifiesControllerService":false,"sensitive":false,"dynamic":true},"command":{"name":"command","displayName":"command","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682becf-0198-1000-0502-81db4515ab80"},{"identifier":"d682bed0-0198-1000-43fe-20ae932af16c","instanceIdentifier":"18209fb2-652c-3e37-034d-6f10ae7d1d4f","name":"ExecuteScript","comments":"","position":{"x":-288.0,"y":-16.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import groovy.json.JsonSlurper\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    def content = session.read(flowFile).getText('UTF-8')\n    def update = new JsonSlurper().parseText(content)\n    \n    def eventType = update.callback_query ? \"callback\" : \n                    update.message?.text?.startsWith('/') ? \"command\" : \n                    \"unknown\"\n    \n    def messageData = update.callback_query?.data ?: update.message?.text ?: \"\"\n    def chatId = update.message?.chat?.id ?: update.callback_query?.message?.chat?.id ?: \"\"\n    \n\n    // Сохраняем все в атрибуты и передаем дальше\n    flowFile = session.putAllAttributes(flowFile, [\n        'telegram.event_type': eventType,\n        'telegram.message_data': messageData,\n        'telegram.chat_id': chatId.toString()\n    ])\n    \n    // Просто передаем дальше, а роутинг сделаем RouteOnAttribute\n    session.transfer(flowFile, REL_SUCCESS)\n    \n} catch(e) {\n    log.error(\"Ошибка определения типа: ${e}\")\n    session.transfer(flowFile, REL_FAILURE)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682becf-0198-1000-0502-81db4515ab80"}],"inputPorts":[{"identifier":"d682bed2-0198-1000-688b-e4945c6919c2","instanceIdentifier":"de6e36a2-dfb3-3773-b504-963bdf577932","name":"input","position":{"x":-232.0,"y":-240.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"d682becf-0198-1000-0502-81db4515ab80"}],"outputPorts":[{"identifier":"d682bed3-0198-1000-b5e6-bcc45f5d9f0c","instanceIdentifier":"59391105-f2d5-367d-ed18-4f7bed6c0f6d","name":"callback","position":{"x":88.0,"y":560.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"d682becf-0198-1000-0502-81db4515ab80"},{"identifier":"d682bed4-0198-1000-2b82-aa9e2fc4581f","instanceIdentifier":"54bceeb1-eb98-314e-6659-1645bdfbc5d2","name":"command","position":{"x":-480.0,"y":552.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"d682becf-0198-1000-0502-81db4515ab80"}],"connections":[{"identifier":"d682bed6-0198-1000-09bd-f9d069aff326","instanceIdentifier":"820bd5aa-1c07-3bcb-d1cd-68ba128d293e","name":"","source":{"id":"d682bed0-0198-1000-43fe-20ae932af16c","type":"PROCESSOR","groupId":"d682becf-0198-1000-0502-81db4515ab80","name":"ExecuteScript","comments":"","instanceIdentifier":"18209fb2-652c-3e37-034d-6f10ae7d1d4f"},"destination":{"id":"d682bed1-0198-1000-c4d1-1bb496b7aa13","type":"PROCESSOR","groupId":"d682becf-0198-1000-0502-81db4515ab80","name":"RouteOnAttribute","comments":"","instanceIdentifier":"47966f32-a64e-34fa-b903-ca12aa33e768"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682becf-0198-1000-0502-81db4515ab80"},{"identifier":"d682bed7-0198-1000-f371-f72b8666d799","instanceIdentifier":"4ef16a40-be3d-3b18-7220-52a671818d65","name":"","source":{"id":"d682bed1-0198-1000-c4d1-1bb496b7aa13","type":"PROCESSOR","groupId":"d682becf-0198-1000-0502-81db4515ab80","name":"RouteOnAttribute","comments":"","instanceIdentifier":"47966f32-a64e-34fa-b903-ca12aa33e768"},"destination":{"id":"d682bed4-0198-1000-2b82-aa9e2fc4581f","type":"OUTPUT_PORT","groupId":"d682becf-0198-1000-0502-81db4515ab80","name":"command","instanceIdentifier":"54bceeb1-eb98-314e-6659-1645bdfbc5d2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["command"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682becf-0198-1000-0502-81db4515ab80"},{"identifier":"d682bed5-0198-1000-542a-f687b0143e16","instanceIdentifier":"33831c82-92b6-35bc-35e3-9ef15c96b159","name":"","source":{"id":"d682bed1-0198-1000-c4d1-1bb496b7aa13","type":"PROCESSOR","groupId":"d682becf-0198-1000-0502-81db4515ab80","name":"RouteOnAttribute","comments":"","instanceIdentifier":"47966f32-a64e-34fa-b903-ca12aa33e768"},"destination":{"id":"d682bed3-0198-1000-b5e6-bcc45f5d9f0c","type":"OUTPUT_PORT","groupId":"d682becf-0198-1000-0502-81db4515ab80","name":"callback","instanceIdentifier":"59391105-f2d5-367d-ed18-4f7bed6c0f6d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["callback"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682becf-0198-1000-0502-81db4515ab80"},{"identifier":"d682bed8-0198-1000-7142-262db3a20a95","instanceIdentifier":"43496666-3a54-3e6b-4447-386b4138e086","name":"","source":{"id":"d682bed2-0198-1000-688b-e4945c6919c2","type":"INPUT_PORT","groupId":"d682becf-0198-1000-0502-81db4515ab80","name":"input","instanceIdentifier":"de6e36a2-dfb3-3773-b504-963bdf577932"},"destination":{"id":"d682bed0-0198-1000-43fe-20ae932af16c","type":"PROCESSOR","groupId":"d682becf-0198-1000-0502-81db4515ab80","name":"ExecuteScript","comments":"","instanceIdentifier":"18209fb2-652c-3e37-034d-6f10ae7d1d4f"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682becf-0198-1000-0502-81db4515ab80"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682beac-0198-1000-81dc-65cddc0d2068","instanceIdentifier":"e9c0d08b-8471-3e2c-41de-33bda5e1b326","name":"Query-Chat-Cycle","comments":"","position":{"x":-1640.0,"y":-160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d682beae-0198-1000-a484-a0146f311378","instanceIdentifier":"1fd39cb9-bbf8-3ff0-6c42-2670b71d614e","name":"UpdateAttribute","comments":"","position":{"x":807.9999432922632,"y":-63.999984794332704},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"offset":"${update_id:plus(1)}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"offset":{"name":"offset","displayName":"offset","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"},{"identifier":"d682beb0-0198-1000-0414-08e7e2a9538f","instanceIdentifier":"77069e5f-b0c5-35b9-82a6-fac50c7f38ee","name":"SplitJson","comments":"","position":{"x":-536.0000567077368,"y":-63.999984794332704},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.result.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"},{"identifier":"d682beaf-0198-1000-0eaf-8a1d57db37a5","instanceIdentifier":"45c088f5-cd69-34d7-ecdb-cf7594809a8a","name":"InvokeHTTP","comments":"","position":{"x":-1160.0000567077368,"y":-63.999984794332704},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.telegram.org/bot${telegrambot_token}/getUpdates?offset=${offset}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"},{"identifier":"d682bead-0198-1000-ad8d-e66bf75a298c","instanceIdentifier":"92e11efe-792f-396c-ec47-9fc0a9982848","name":"EvaluateJsonPath","comments":"","position":{"x":111.9999432922632,"y":-63.999984794332704},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"update_id":"$.update_id","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"update_id":{"name":"update_id","displayName":"update_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"}],"inputPorts":[{"identifier":"d682beb1-0198-1000-fbe6-8d1ee8a341b7","instanceIdentifier":"140203d3-f26e-3d7a-05c0-7cac68060718","name":"input","position":{"x":-1104.0,"y":-248.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"}],"outputPorts":[{"identifier":"d682beb2-0198-1000-6144-85ffa5141d7e","instanceIdentifier":"443866f6-48bc-3123-8c71-46e611546d41","name":"output","position":{"x":864.0,"y":480.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"}],"connections":[{"identifier":"d682beb7-0198-1000-309d-88bbbbe86e03","instanceIdentifier":"ae025ec5-6b24-3f15-b01b-7094824443a6","name":"","source":{"id":"d682beb4-0198-1000-8cdd-b2f2dba27479","type":"FUNNEL","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"Funnel","comments":"","instanceIdentifier":"4c97295f-cc22-3641-0b77-cf71ad97777a"},"destination":{"id":"d682beb2-0198-1000-6144-85ffa5141d7e","type":"OUTPUT_PORT","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"output","instanceIdentifier":"443866f6-48bc-3123-8c71-46e611546d41"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"},{"identifier":"d682bebc-0198-1000-84f1-c19908efe104","instanceIdentifier":"fb90ef3d-b406-336e-4743-274498abfdc6","name":"","source":{"id":"d682beb0-0198-1000-0414-08e7e2a9538f","type":"PROCESSOR","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"SplitJson","comments":"","instanceIdentifier":"77069e5f-b0c5-35b9-82a6-fac50c7f38ee"},"destination":{"id":"d682bead-0198-1000-ad8d-e66bf75a298c","type":"PROCESSOR","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"92e11efe-792f-396c-ec47-9fc0a9982848"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"},{"identifier":"d682bebb-0198-1000-ec01-8b7a68e92f24","instanceIdentifier":"35f83545-5456-31ff-5399-dbe39d5b3c4d","name":"","source":{"id":"d682beaf-0198-1000-0eaf-8a1d57db37a5","type":"PROCESSOR","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"InvokeHTTP","comments":"","instanceIdentifier":"45c088f5-cd69-34d7-ecdb-cf7594809a8a"},"destination":{"id":"d682beb0-0198-1000-0414-08e7e2a9538f","type":"PROCESSOR","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"SplitJson","comments":"","instanceIdentifier":"77069e5f-b0c5-35b9-82a6-fac50c7f38ee"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"},{"identifier":"d682beb5-0198-1000-b74e-c7eacba3c6a7","instanceIdentifier":"8f631d9f-a138-3f50-42c6-4f5416e4932c","name":"","source":{"id":"d682bead-0198-1000-ad8d-e66bf75a298c","type":"PROCESSOR","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"92e11efe-792f-396c-ec47-9fc0a9982848"},"destination":{"id":"d682beae-0198-1000-a484-a0146f311378","type":"PROCESSOR","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"UpdateAttribute","comments":"","instanceIdentifier":"1fd39cb9-bbf8-3ff0-6c42-2670b71d614e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"},{"identifier":"d682beb9-0198-1000-7f0c-45be760d7355","instanceIdentifier":"0056ae28-0974-33e9-4a4c-299363041d56","name":"","source":{"id":"d682beae-0198-1000-a484-a0146f311378","type":"PROCESSOR","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"UpdateAttribute","comments":"","instanceIdentifier":"1fd39cb9-bbf8-3ff0-6c42-2670b71d614e"},"destination":{"id":"d682beb4-0198-1000-8cdd-b2f2dba27479","type":"FUNNEL","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"Funnel","comments":"","instanceIdentifier":"4c97295f-cc22-3641-0b77-cf71ad97777a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"},{"identifier":"d682beb8-0198-1000-e866-bb29aa1b2518","instanceIdentifier":"3c8ad158-f2a9-31eb-e991-edf917a596ed","name":"","source":{"id":"d682beb4-0198-1000-8cdd-b2f2dba27479","type":"FUNNEL","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"Funnel","comments":"","instanceIdentifier":"4c97295f-cc22-3641-0b77-cf71ad97777a"},"destination":{"id":"d682beb3-0198-1000-f780-c1b320ee8daa","type":"FUNNEL","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"Funnel","comments":"","instanceIdentifier":"f2b31afc-1c87-3612-c253-276be576f3ef"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"},{"identifier":"d682beba-0198-1000-c669-f492691f7660","instanceIdentifier":"7ddfac22-ad9d-3079-617e-144a0c8dcdb8","name":"","source":{"id":"d682beb1-0198-1000-fbe6-8d1ee8a341b7","type":"INPUT_PORT","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"input","instanceIdentifier":"140203d3-f26e-3d7a-05c0-7cac68060718"},"destination":{"id":"d682beaf-0198-1000-0eaf-8a1d57db37a5","type":"PROCESSOR","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"InvokeHTTP","comments":"","instanceIdentifier":"45c088f5-cd69-34d7-ecdb-cf7594809a8a"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"},{"identifier":"d682beb6-0198-1000-557f-36cb820bbb03","instanceIdentifier":"4d9286f4-d943-329b-9a35-6454af0aecba","name":"","source":{"id":"d682beb3-0198-1000-f780-c1b320ee8daa","type":"FUNNEL","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"Funnel","comments":"","instanceIdentifier":"f2b31afc-1c87-3612-c253-276be576f3ef"},"destination":{"id":"d682beaf-0198-1000-0eaf-8a1d57db37a5","type":"PROCESSOR","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"InvokeHTTP","comments":"","instanceIdentifier":"45c088f5-cd69-34d7-ecdb-cf7594809a8a"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"}],"labels":[],"funnels":[{"identifier":"d682beb4-0198-1000-8cdd-b2f2dba27479","instanceIdentifier":"4c97295f-cc22-3641-0b77-cf71ad97777a","position":{"x":960.0,"y":256.0},"componentType":"FUNNEL","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"},{"identifier":"d682beb3-0198-1000-f780-c1b320ee8daa","instanceIdentifier":"f2b31afc-1c87-3612-c253-276be576f3ef","position":{"x":-1008.0,"y":256.0},"componentType":"FUNNEL","groupIdentifier":"d682beac-0198-1000-81dc-65cddc0d2068"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682bec7-0198-1000-40e5-4f93a5f2be66","instanceIdentifier":"cfe5ac12-3cf7-3769-dc24-58ed214591df","name":"logging","comments":"","position":{"x":-1640.0,"y":832.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d682bec9-0198-1000-ea57-d9c14a0902f9","instanceIdentifier":"d9f3863f-0647-344c-c5e1-e16b37fa87f2","name":"AttributesToCSV","comments":"","position":{"x":-64.0,"y":336.0},"type":"org.apache.nifi.processors.standard.AttributesToCSV","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"null-value":"false","include-core-attributes":"false","attributes-regex":null,"destination":"flowfile-attribute","include-schema":"false","attribute-list":"telegramUserName,\ntelegramUserId,\ntelegramUserFirstName,\ntelegramMessageId,\ntelegramMessageDate,\ntelegramMessageText,\ncurrent_scene,\ntelegram.message_data,\ntelegram.event_type"},"propertyDescriptors":{"null-value":{"name":"null-value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"include-core-attributes":{"name":"include-core-attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-regex":{"name":"attributes-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"destination":{"name":"destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"include-schema":{"name":"include-schema","displayName":"Include Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-list":{"name":"attribute-list","displayName":"Attribute List","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bec7-0198-1000-40e5-4f93a5f2be66"},{"identifier":"d682bec8-0198-1000-2f96-5594a55b9e7a","instanceIdentifier":"7e5da22e-8073-32dc-61e1-4ff8a011fa23","name":"EvaluateJsonPath","comments":"","position":{"x":-64.0,"y":64.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"telegramMessageDate":"$.result.date","Destination":"flowfile-attribute","telegramMessageId":"$.result.message_id","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","telegramUserId":"$.result.chat.id","telegramUserName":"$.result.chat.username","telegramUserFirstName":"$.result.chat.first_name","Path Not Found Behavior":"ignore","telegramMessageText":"$.result.text"},"propertyDescriptors":{"telegramMessageDate":{"name":"telegramMessageDate","displayName":"telegramMessageDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"telegramMessageId":{"name":"telegramMessageId","displayName":"telegramMessageId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"telegramUserId":{"name":"telegramUserId","displayName":"telegramUserId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"telegramUserName":{"name":"telegramUserName","displayName":"telegramUserName","identifiesControllerService":false,"sensitive":false,"dynamic":true},"telegramUserFirstName":{"name":"telegramUserFirstName","displayName":"telegramUserFirstName","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"telegramMessageText":{"name":"telegramMessageText","displayName":"telegramMessageText","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bec7-0198-1000-40e5-4f93a5f2be66"},{"identifier":"d682beca-0198-1000-c890-3966b4fe200d","instanceIdentifier":"21b3acdc-b66e-3140-81fc-6dc3fe8d349e","name":"ExecuteScript","comments":"","position":{"x":-64.0,"y":600.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport java.nio.charset.StandardCharsets\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    def filename = '/home/unifi/data/SandBox/TelegramBot/log/log.csv'\n\n    // 2. Получаем данные из атрибутов\n    def content = flowFile.getAttribute('CSVData')\n    \n    // Дописываем в файл\n    def file = new File(filename)\n    file << content + \"\\n\" // добавляем перенос строки\n    \n    session.transfer(flowFile, REL_SUCCESS)\n    \n} catch(e) {\n    log.error(\"Ошибка записи в файл: ${e}\")\n    session.transfer(flowFile, REL_FAILURE)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bec7-0198-1000-40e5-4f93a5f2be66"}],"inputPorts":[{"identifier":"d682becb-0198-1000-4d55-a81da4f17e41","instanceIdentifier":"b8ea98b5-e9ec-3aa9-b313-da631e81e1ab","name":"input","position":{"x":-8.0,"y":-160.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"d682bec7-0198-1000-40e5-4f93a5f2be66"}],"outputPorts":[],"connections":[{"identifier":"d682becc-0198-1000-e8b1-2fb48e0f6537","instanceIdentifier":"0fcc8100-0580-32e9-e072-40b12d20c414","name":"","source":{"id":"d682bec9-0198-1000-ea57-d9c14a0902f9","type":"PROCESSOR","groupId":"d682bec7-0198-1000-40e5-4f93a5f2be66","name":"AttributesToCSV","comments":"","instanceIdentifier":"d9f3863f-0647-344c-c5e1-e16b37fa87f2"},"destination":{"id":"d682beca-0198-1000-c890-3966b4fe200d","type":"PROCESSOR","groupId":"d682bec7-0198-1000-40e5-4f93a5f2be66","name":"ExecuteScript","comments":"","instanceIdentifier":"21b3acdc-b66e-3140-81fc-6dc3fe8d349e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bec7-0198-1000-40e5-4f93a5f2be66"},{"identifier":"d682becd-0198-1000-c07a-00b2a7053e8e","instanceIdentifier":"a0aec1f4-b97a-38c9-529d-13157a5fe7cc","name":"","source":{"id":"d682becb-0198-1000-4d55-a81da4f17e41","type":"INPUT_PORT","groupId":"d682bec7-0198-1000-40e5-4f93a5f2be66","name":"input","instanceIdentifier":"b8ea98b5-e9ec-3aa9-b313-da631e81e1ab"},"destination":{"id":"d682bec8-0198-1000-2f96-5594a55b9e7a","type":"PROCESSOR","groupId":"d682bec7-0198-1000-40e5-4f93a5f2be66","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"7e5da22e-8073-32dc-61e1-4ff8a011fa23"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bec7-0198-1000-40e5-4f93a5f2be66"},{"identifier":"d682bece-0198-1000-2657-555f520f1b6c","instanceIdentifier":"1db18dc9-6b23-3135-1258-3ff2f509dce1","name":"","source":{"id":"d682bec8-0198-1000-2f96-5594a55b9e7a","type":"PROCESSOR","groupId":"d682bec7-0198-1000-40e5-4f93a5f2be66","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"7e5da22e-8073-32dc-61e1-4ff8a011fa23"},"destination":{"id":"d682bec9-0198-1000-ea57-d9c14a0902f9","type":"PROCESSOR","groupId":"d682bec7-0198-1000-40e5-4f93a5f2be66","name":"AttributesToCSV","comments":"","instanceIdentifier":"d9f3863f-0647-344c-c5e1-e16b37fa87f2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bec7-0198-1000-40e5-4f93a5f2be66"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"}],"remoteProcessGroups":[],"processors":[{"identifier":"d682bea7-0198-1000-532a-745c31c1fa64","instanceIdentifier":"5b5df069-95ae-3ce6-0a20-39681bb6bacd","name":"GenerateFlowFile","comments":"","position":{"x":-1624.0,"y":-584.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682bea3-0198-1000-70e9-44e618221532","instanceIdentifier":"5290367b-1a1e-3c34-163b-b8fc4c8c443a","name":"ExecuteScript","comments":"","position":{"x":-1624.0,"y":408.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // 1. Получаем готовый JSON из атрибута (уже сформированный первым скриптом)\n    def responseJson = flowFile.getAttribute('response.json')\n    \n    // 2. Проверяем обязательные поля\n    if (!responseJson) {\n        throw new Exception(\"Отсутствует атрибут response.json\")\n    }\n    \n    // 3. Парсим JSON, чтобы убедиться в его валидности\n    def telegramRequest = new JsonSlurper().parseText(responseJson)\n    \n    // 4. Добавляем/перезаписываем обязательные поля\n    telegramRequest.chat_id = flowFile.getAttribute('telegram.chat_id')\n    \n    // 5. Обновляем parse_mode если нужно\n    def parseMode = flowFile.getAttribute('response.parse_mode')\n    if (parseMode && parseMode != 'none') {\n        telegramRequest.parse_mode = parseMode\n    }\n    \n    // 6. Конвертируем обратно в JSON строку\n    def jsonOutput = JsonOutput.toJson(telegramRequest)\n    \n    // 7. Записываем в FlowFile\n    flowFile = session.write(flowFile, { inputStream, outputStream ->\n        outputStream.write(jsonOutput.getBytes('UTF-8'))\n    } as StreamCallback)\n    \n    // 8. Устанавливаем необходимые атрибуты\n    flowFile = session.putAttribute(flowFile, 'mime.type', 'application/json')\n    flowFile = session.putAttribute(flowFile, 'telegram.endpoint', 'sendMessage')\n    \n    session.transfer(flowFile, REL_SUCCESS)\n} catch (e) {\n    log.error(\"Ошибка формирования запроса: ${e}\", e)\n    flowFile = session.putAttribute(flowFile, 'error.message', e.message)\n    session.transfer(flowFile, REL_FAILURE)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682bea5-0198-1000-9c15-e3eeaa2e7a65","instanceIdentifier":"0beb0d59-2d2d-3512-afb1-7420b84009c0","name":"ExecuteScript","comments":"","position":{"x":-2256.0,"y":128.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import groovy.json.JsonSlurper\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // 1. Загружаем конфигурацию\n    def config = new JsonSlurper().parse(new File('/home/unifi/data/SandBox/TelegramBot/tasks.json'))\n    \n    // 2. Получаем данные из атрибутов\n    def command = flowFile.getAttribute('telegram.message_data')\n    def currentScene = flowFile.getAttribute('current_scene') ?: \"start\"\n    def response = [:]\n    \n    // 3. Обработка команд\n    if (command == \"/start\" || command == \"/menu\") {\n        currentScene = \"start\"\n        response = config.scenes.start\n    } else if (command == \"/help\") {\n        currentScene = \"help\" \n        response = config.scenes.help\n    }\n    \n    // 4. Сохраняем результат\n    flowFile = session.putAllAttributes(flowFile, [\n        'current_scene': currentScene,\n        'response.json': new groovy.json.JsonOutput().toJson(response),\n        'response.parse_mode': 'MarkdownV2'\n    ])\n    \n    session.transfer(flowFile, REL_SUCCESS)\n    \n} catch(e) {\n    log.error(\"Ошибка обработки команды: ${e}\")\n    session.transfer(flowFile, REL_FAILURE)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682bea6-0198-1000-6e75-6917bcb94439","instanceIdentifier":"5d878014-c21b-30f6-0e0e-7d52f5fbc561","name":"InvokeHTTP","comments":"","position":{"x":-1624.0,"y":608.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.telegram.org/bot${telegrambot_token}/sendMessage","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682bea4-0198-1000-ad0f-efe03b4c0c89","instanceIdentifier":"15c9186b-b7dc-3255-ee20-5c50b0e3eac3","name":"ExecuteScript","comments":"","position":{"x":-976.0,"y":128.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // 1. Загружаем конфигурацию\n    def config = new JsonSlurper().parse(new File('/home/unifi/data/SandBox/TelegramBot/tasks.json'))\n\n    // 2. Получаем данные из атрибутов\n    def callbackData = flowFile.getAttribute('telegram.message_data')\n    def currentScene = flowFile.getAttribute('current_scene') ?: \"start\"\n    \n    // 3. Обрабатываем callback и получаем результат\n    def result = processCallback(callbackData, currentScene, config)\n    def response = result.response\n    def newScene = result.scene\n\n    // Определяем endpoint based on media type\n    def endpoint = 'sendMessage'\n        if (response.photo) {\n             endpoint = 'sendPhoto'\n        } else if (response.video) {\n            endpoint = 'sendVideo' \n        } else if (response.audio) {\n            endpoint = 'sendAudio'\n        }\n\n    // 4. Добавляем кнопки меню\n    addMenuButtons(response)\n\n    // Сохраняем результат\n    flowFile = session.putAllAttributes(flowFile, [\n        'current_scene': newScene,\n        'telegram.endpoint': endpoint,\n        'response.json': JsonOutput.toJson(response),\n        'response.parse_mode': 'MarkdownV2'\n     ])\n\n    session.transfer(flowFile, REL_SUCCESS)\n    \n} catch(e) {\n    log.error(\"Ошибка обработки callback: ${e}\")\n    session.transfer(flowFile, REL_FAILURE)\n}\n\n\n// Главная функция обработки callback\ndef processCallback(callbackData, currentScene, config) {\n    def result = [response: [:], scene: currentScene]\n    \n    switch (callbackData) {\n        case { it?.startsWith(\"scene:\") }:\n            result = handleSceneTransition(callbackData, config, currentScene)\n            break\n            \n        case { it?.startsWith(\"quest:\") && !it?.contains(\":answer:\") }:\n            result = handleQuestStart(callbackData, config, currentScene)\n            break\n            \n        case { it?.startsWith(\"quest:\") && it?.contains(\":answer:\") }:\n            result = handleQuestAnswer(callbackData, config, currentScene)\n            break\n            \n        default:\n            result.response = [text: \"⚠️ Неизвестная команда\"]\n            break\n    }\n    \n    return result\n}\n\n// Обработка переходов между сценами\ndef handleSceneTransition(callbackData, config, currentScene) {\n    def sceneName = callbackData.replace(\"scene:\", \"\")\n    return [\n        response: config.scenes[sceneName],\n        scene: sceneName\n    ]\n}\n\n// Обработка начала квеста\ndef handleQuestStart(callbackData, config, currentScene) {\n    def questId = callbackData.replace(\"quest:\", \"\")\n    def quest = config.quests[questId]\n    \n    if (quest) {\n        return [\n            response: buildQuestResponse(quest),\n            scene: \"quest:\" + questId\n        ]\n    } else {\n        return [\n            response: [text: \"❌ Задание не найдено\"],\n            scene: currentScene\n        ]\n    }\n}\n\n\n// Обработка ответов на вопросы квестов\ndef handleQuestAnswer(callbackData, config, currentScene) {\n    def parts = callbackData.split(\":\")\n    if (parts.size() >= 4) {\n        def questId = parts[1]\n        def quest = config.quests[questId]\n        \n        if (quest) {\n            def answer = quest.answers[callbackData]\n            if (answer) {\n                return handleAnswerTransition(answer, config, currentScene)\n            } else {\n                return [\n                    response: [text: \"❌ Ответ не найден\"],\n                    scene: currentScene\n                ]\n            }\n        } else {\n            return [\n                response: [text: \"❌ Задание не найдено\"],\n                scene: currentScene\n            ]\n        }\n    } else {\n        return [\n            response: [text: \"⚠️ Неверный формат ответа\"],\n            scene: currentScene\n        ]\n    }\n}\n// Обработка перехода к следующему квесту \ndef handleQuestTransition(nextQuestId, config, currentScene) {\n    def questId = nextQuestId.replace(\"quest:\", \"\")\n    def nextQuest = config.quests[questId]\n    \n    if (nextQuest) {\n        return [\n            response: buildQuestResponse(nextQuest),\n            scene: \"quest:\" + questId\n        ]\n    } else {\n        return [\n            response: [text: \"❌ Следующее задание не найдено\"],\n            scene: currentScene\n        ]\n    }\n}\n\n// Обновленная функция создания ответа для квеста\ndef buildQuestResponse(quest) {\n    if (!quest) return [text: \"❌ Ошибка: задание не найдено\"]\n    \n    def response = [:]\n    \n    // Добавляем медиафайлы если есть\n    if (quest.image) {\n        response.photo = \"/opt/nifi/quest/images/\" + quest.image\n        response.caption = quest.text\n        response.parse_mode = 'MarkdownV2'\n    } else if (quest.video) {\n        response.video = \"/opt/nifi/quest/video/\" + quest.video  \n        response.caption = quest.text\n        response.parse_mode = 'MarkdownV2'\n    } else if (quest.audio) {\n        response.audio = \"/opt/nifi/quest/audio/\" + quest.audio\n        response.caption = quest.text\n        response.parse_mode = 'MarkdownV2'\n    } else {\n        // Если нет медиа - просто текст\n        response.text = quest.text\n        response.parse_mode = 'MarkdownV2'\n    }\n    \n    // Добавляем кнопки ответов если есть\n    if (quest.answers) {\n        def keyboard = []\n        quest.answers.each { key, answer ->\n            keyboard << [text: answer.text, callback_data: key]\n        }\n        response.reply_markup = [inline_keyboard: [keyboard]]\n    }\n    \n    return response\n}\n\n// Добавление кнопок меню к ответу\ndef addMenuButtons(response) {\n    if (response && response instanceof Map) {\n        // Если response - простой текст (без reply_markup)\n        if (!response.reply_markup && response.text) {\n            response.reply_markup = [inline_keyboard: []]\n        }\n        \n        // Добавляем кнопки меню\n        if (response.reply_markup) {\n            def menuButton = [text: \"\uD83C\uDFE0 Меню\", callback_data: \"scene:start\"]\n            def helpButton = [text: \"❓ Помощь\", callback_data: \"scene:help\"]\n            \n            def menuRow = [menuButton, helpButton]\n            \n            if (response.reply_markup.inline_keyboard instanceof List) {\n                response.reply_markup.inline_keyboard.add(menuRow)\n            } else {\n                response.reply_markup.inline_keyboard = [menuRow]\n            }\n        }\n    }\n}\n\n// Обработка переходов по ответам\ndef handleAnswerTransition(answer, config, currentScene) {\n    if (!answer) {\n        return [response: [text: \"❌ Ответ не распознан\"], scene: currentScene]\n    }\n    \n    def result = [scene: currentScene]\n    \n    // Обрабатываем переход\n    if (answer.next) {\n        if (answer.next.startsWith(\"quest:\")) {\n            def nextQuestId = answer.next.replace(\"quest:\", \"\")\n            def nextQuest = config.quests[nextQuestId]\n            if (nextQuest) {\n                result.response = buildQuestResponse(nextQuest)\n                result.scene = \"quest:\" + nextQuestId\n            }\n        } else if (answer.next.startsWith(\"scene:\")) {\n            def sceneName = answer.next.replace(\"scene:\", \"\")\n            def nextScene = config.scenes[sceneName]\n            if (nextScene) {\n                result.response = nextScene\n                result.scene = sceneName\n            }\n        }\n    }\n    \n    // Если есть response - добавляем/заменяем текст\n    if (answer.response) {\n        if (result.response && result.response.text) {\n            // Добавляем response к существующему тексту\n            result.response.text = answer.response + \"\\n\\n\" + result.response.text\n        } else {\n            // Создаем новое текстовое сообщение\n            result.response = [text: answer.response, parse_mode: 'MarkdownV2']\n        }\n    }\n    \n    return result\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682bea9-0198-1000-9c43-344cd9cf84e0","instanceIdentifier":"771025ae-840e-339c-ded2-a6fc25fc2004","name":"UpdateAttribute","comments":"","position":{"x":-1624.0,"y":-384.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d682bef0-0198-1000-35fc-060cfc9fe9a9","instanceIdentifier":"497c7ba4-412e-3385-ba03-873a8fe60db3","name":"","source":{"id":"d682beb2-0198-1000-6144-85ffa5141d7e","type":"OUTPUT_PORT","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"output","instanceIdentifier":"443866f6-48bc-3123-8c71-46e611546d41"},"destination":{"id":"d682bed2-0198-1000-688b-e4945c6919c2","type":"INPUT_PORT","groupId":"d682becf-0198-1000-0502-81db4515ab80","name":"input","instanceIdentifier":"de6e36a2-dfb3-3773-b504-963bdf577932"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682beeb-0198-1000-30c0-382cc3bd6696","instanceIdentifier":"3241da49-765b-3768-f50f-dff22060e4e0","name":"","source":{"id":"d682bed3-0198-1000-b5e6-bcc45f5d9f0c","type":"OUTPUT_PORT","groupId":"d682becf-0198-1000-0502-81db4515ab80","name":"callback","instanceIdentifier":"59391105-f2d5-367d-ed18-4f7bed6c0f6d"},"destination":{"id":"d682bea4-0198-1000-ad0f-efe03b4c0c89","type":"PROCESSOR","groupId":"d682bea1-0198-1000-18be-21b3ca4d8e7c","name":"ExecuteScript","comments":"","instanceIdentifier":"15c9186b-b7dc-3255-ee20-5c50b0e3eac3"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682bef1-0198-1000-3b04-a140cc929f3c","instanceIdentifier":"80b05d23-8fb1-3669-2aa0-59718c423f21","name":"","source":{"id":"d682bea9-0198-1000-9c43-344cd9cf84e0","type":"PROCESSOR","groupId":"d682bea1-0198-1000-18be-21b3ca4d8e7c","name":"UpdateAttribute","comments":"","instanceIdentifier":"771025ae-840e-339c-ded2-a6fc25fc2004"},"destination":{"id":"d682beb1-0198-1000-fbe6-8d1ee8a341b7","type":"INPUT_PORT","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"input","instanceIdentifier":"140203d3-f26e-3d7a-05c0-7cac68060718"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682beec-0198-1000-6e24-9833c5937174","instanceIdentifier":"877d94b2-a779-3fec-4056-68438b3e4d69","name":"","source":{"id":"d682bea7-0198-1000-532a-745c31c1fa64","type":"PROCESSOR","groupId":"d682bea1-0198-1000-18be-21b3ca4d8e7c","name":"GenerateFlowFile","comments":"","instanceIdentifier":"5b5df069-95ae-3ce6-0a20-39681bb6bacd"},"destination":{"id":"d682bea9-0198-1000-9c43-344cd9cf84e0","type":"PROCESSOR","groupId":"d682bea1-0198-1000-18be-21b3ca4d8e7c","name":"UpdateAttribute","comments":"","instanceIdentifier":"771025ae-840e-339c-ded2-a6fc25fc2004"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682bee7-0198-1000-c640-5d46f86524ab","instanceIdentifier":"19d2831b-566e-3563-227c-2bfba61ee791","name":"","source":{"id":"d682bea5-0198-1000-9c15-e3eeaa2e7a65","type":"PROCESSOR","groupId":"d682bea1-0198-1000-18be-21b3ca4d8e7c","name":"ExecuteScript","comments":"","instanceIdentifier":"0beb0d59-2d2d-3512-afb1-7420b84009c0"},"destination":{"id":"d682bea3-0198-1000-70e9-44e618221532","type":"PROCESSOR","groupId":"d682bea1-0198-1000-18be-21b3ca4d8e7c","name":"ExecuteScript","comments":"","instanceIdentifier":"5290367b-1a1e-3c34-163b-b8fc4c8c443a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682bee6-0198-1000-a9eb-aa00eb56bc9d","instanceIdentifier":"a2dd90b9-9ce3-302d-defc-4e4699ca7ce1","name":"","source":{"id":"d682bea3-0198-1000-70e9-44e618221532","type":"PROCESSOR","groupId":"d682bea1-0198-1000-18be-21b3ca4d8e7c","name":"ExecuteScript","comments":"","instanceIdentifier":"5290367b-1a1e-3c34-163b-b8fc4c8c443a"},"destination":{"id":"d682bea6-0198-1000-6e75-6917bcb94439","type":"PROCESSOR","groupId":"d682bea1-0198-1000-18be-21b3ca4d8e7c","name":"InvokeHTTP","comments":"","instanceIdentifier":"5d878014-c21b-30f6-0e0e-7d52f5fbc561"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682bee9-0198-1000-dbaa-21378ef5b2ee","instanceIdentifier":"137838db-4e65-3d24-551c-fd27a8353e06","name":"","source":{"id":"d682bea4-0198-1000-ad0f-efe03b4c0c89","type":"PROCESSOR","groupId":"d682bea1-0198-1000-18be-21b3ca4d8e7c","name":"ExecuteScript","comments":"","instanceIdentifier":"15c9186b-b7dc-3255-ee20-5c50b0e3eac3"},"destination":{"id":"d682bea3-0198-1000-70e9-44e618221532","type":"PROCESSOR","groupId":"d682bea1-0198-1000-18be-21b3ca4d8e7c","name":"ExecuteScript","comments":"","instanceIdentifier":"5290367b-1a1e-3c34-163b-b8fc4c8c443a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682beea-0198-1000-8cc1-1040b879558a","instanceIdentifier":"f5a16a00-4494-3ae4-764d-69d1bc74ada0","name":"","source":{"id":"d682bed4-0198-1000-2b82-aa9e2fc4581f","type":"OUTPUT_PORT","groupId":"d682becf-0198-1000-0502-81db4515ab80","name":"command","instanceIdentifier":"54bceeb1-eb98-314e-6659-1645bdfbc5d2"},"destination":{"id":"d682bea5-0198-1000-9c15-e3eeaa2e7a65","type":"PROCESSOR","groupId":"d682bea1-0198-1000-18be-21b3ca4d8e7c","name":"ExecuteScript","comments":"","instanceIdentifier":"0beb0d59-2d2d-3512-afb1-7420b84009c0"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682beef-0198-1000-1b3b-488b660d3163","instanceIdentifier":"921d48a5-e2d9-34b7-ab3a-542cd6d268ec","name":"","source":{"id":"d682beb2-0198-1000-6144-85ffa5141d7e","type":"OUTPUT_PORT","groupId":"d682beac-0198-1000-81dc-65cddc0d2068","name":"output","instanceIdentifier":"443866f6-48bc-3123-8c71-46e611546d41"},"destination":{"id":"d682bedf-0198-1000-35cd-f9397279bbe2","type":"INPUT_PORT","groupId":"d682bed9-0198-1000-e093-190617633d10","name":"input","instanceIdentifier":"45554687-21c1-3447-4110-2a122aea6f5c"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"},{"identifier":"d682beed-0198-1000-882f-a01a06d61482","instanceIdentifier":"fda8fd2f-41c1-39c2-818e-f50dd2a1d07e","name":"","source":{"id":"d682bea6-0198-1000-6e75-6917bcb94439","type":"PROCESSOR","groupId":"d682bea1-0198-1000-18be-21b3ca4d8e7c","name":"InvokeHTTP","comments":"","instanceIdentifier":"5d878014-c21b-30f6-0e0e-7d52f5fbc561"},"destination":{"id":"d682becb-0198-1000-4d55-a81da4f17e41","type":"INPUT_PORT","groupId":"d682bec7-0198-1000-40e5-4f93a5f2be66","name":"input","instanceIdentifier":"b8ea98b5-e9ec-3aa9-b313-da631e81e1ab"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"d682bea2-0198-1000-ed88-d4df72b39a41","instanceIdentifier":"78bf9946-f964-3f48-1064-178c5e487b16","name":"MapCacheClientService-Wait","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.3.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d682bea1-0198-1000-18be-21b3ca4d8e7c"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}