telegram-game.json
{"flowContents":{"identifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b","instanceIdentifier":"2547209a-b7b4-3f49-1186-0e3adec624a6","name":"telegram-game","comments":"","position":{"x":-400.0,"y":152.0},"processGroups":[{"identifier":"e05ab0b4-0198-1000-97db-ae2749dd1c38","instanceIdentifier":"d43c00b6-71d9-34b5-86f0-c02faebc768e","name":"logging","comments":"","position":{"x":-1640.0,"y":832.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e05ab0b7-0198-1000-ac36-51068efe0f32","instanceIdentifier":"ef6356c1-d7b5-328d-e809-adde59ea6214","name":"ExecuteScript","comments":"","position":{"x":-64.0,"y":600.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport java.nio.charset.StandardCharsets\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    def filename = '/home/unifi/data/SandBox/TelegramBot/log/log.csv'\n\n    // 2. Получаем данные из атрибутов\n    def content = flowFile.getAttribute('CSVData')\n    \n    // Дописываем в файл\n    def file = new File(filename)\n    file << content + \"\\n\" // добавляем перенос строки\n    \n    session.transfer(flowFile, REL_SUCCESS)\n    \n} catch(e) {\n    log.error(\"Ошибка записи в файл: ${e}\")\n    session.transfer(flowFile, REL_FAILURE)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab0b4-0198-1000-97db-ae2749dd1c38"},{"identifier":"e05ab0b5-0198-1000-6f2e-aa489bd97eeb","instanceIdentifier":"3b5ec6a0-f751-3c17-fadf-ea40f5bd6dbd","name":"EvaluateJsonPath","comments":"","position":{"x":-64.0,"y":64.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"telegramMessageDate":"$.result.date","Destination":"flowfile-attribute","telegramMessageId":"$.result.message_id","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","telegramUserId":"$.result.chat.id","telegramUserName":"$.result.chat.username","telegramUserFirstName":"$.result.chat.first_name","Path Not Found Behavior":"ignore","telegramMessageText":"$.result.text"},"propertyDescriptors":{"telegramMessageDate":{"name":"telegramMessageDate","displayName":"telegramMessageDate","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"telegramMessageId":{"name":"telegramMessageId","displayName":"telegramMessageId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"telegramUserId":{"name":"telegramUserId","displayName":"telegramUserId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"telegramUserName":{"name":"telegramUserName","displayName":"telegramUserName","identifiesControllerService":false,"sensitive":false,"dynamic":true},"telegramUserFirstName":{"name":"telegramUserFirstName","displayName":"telegramUserFirstName","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"telegramMessageText":{"name":"telegramMessageText","displayName":"telegramMessageText","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab0b4-0198-1000-97db-ae2749dd1c38"},{"identifier":"e05ab0b6-0198-1000-83fd-6499d13b2488","instanceIdentifier":"4855799c-bcc4-347d-fbc9-306e5fb592c6","name":"AttributesToCSV","comments":"","position":{"x":-64.0,"y":336.0},"type":"org.apache.nifi.processors.standard.AttributesToCSV","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"null-value":"false","include-core-attributes":"false","attributes-regex":null,"destination":"flowfile-attribute","include-schema":"false","attribute-list":"telegramUserName,\ntelegramUserId,\ntelegramUserFirstName,\ntelegramMessageId,\ntelegramMessageDate,\ntelegramMessageText,\ncurrent_scene,\ntelegram.message_data,\ntelegram.event_type"},"propertyDescriptors":{"null-value":{"name":"null-value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"include-core-attributes":{"name":"include-core-attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-regex":{"name":"attributes-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"destination":{"name":"destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"include-schema":{"name":"include-schema","displayName":"Include Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-list":{"name":"attribute-list","displayName":"Attribute List","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab0b4-0198-1000-97db-ae2749dd1c38"}],"inputPorts":[{"identifier":"e05ab0b8-0198-1000-d379-fc5df8d9fbfa","instanceIdentifier":"5e94f444-a7eb-32fb-7c23-b6ff3d1c64f2","name":"input","position":{"x":-8.0,"y":-160.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"e05ab0b4-0198-1000-97db-ae2749dd1c38"}],"outputPorts":[],"connections":[{"identifier":"e05ab0ba-0198-1000-33be-a233890cee7e","instanceIdentifier":"7131ba9d-2f35-3620-130a-3541e60ec4c9","name":"","source":{"id":"e05ab0b8-0198-1000-d379-fc5df8d9fbfa","type":"INPUT_PORT","groupId":"e05ab0b4-0198-1000-97db-ae2749dd1c38","name":"input","instanceIdentifier":"5e94f444-a7eb-32fb-7c23-b6ff3d1c64f2"},"destination":{"id":"e05ab0b5-0198-1000-6f2e-aa489bd97eeb","type":"PROCESSOR","groupId":"e05ab0b4-0198-1000-97db-ae2749dd1c38","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"3b5ec6a0-f751-3c17-fadf-ea40f5bd6dbd"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab0b4-0198-1000-97db-ae2749dd1c38"},{"identifier":"e05ab0bb-0198-1000-4248-2fceed3f676a","instanceIdentifier":"dcca3a8c-0645-3b1a-6ca8-46aee5a1aa03","name":"","source":{"id":"e05ab0b5-0198-1000-6f2e-aa489bd97eeb","type":"PROCESSOR","groupId":"e05ab0b4-0198-1000-97db-ae2749dd1c38","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"3b5ec6a0-f751-3c17-fadf-ea40f5bd6dbd"},"destination":{"id":"e05ab0b6-0198-1000-83fd-6499d13b2488","type":"PROCESSOR","groupId":"e05ab0b4-0198-1000-97db-ae2749dd1c38","name":"AttributesToCSV","comments":"","instanceIdentifier":"4855799c-bcc4-347d-fbc9-306e5fb592c6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab0b4-0198-1000-97db-ae2749dd1c38"},{"identifier":"e05ab0b9-0198-1000-a931-2f1a0fe092af","instanceIdentifier":"53071aad-bbb8-3aef-a9d5-e547df015ead","name":"","source":{"id":"e05ab0b6-0198-1000-83fd-6499d13b2488","type":"PROCESSOR","groupId":"e05ab0b4-0198-1000-97db-ae2749dd1c38","name":"AttributesToCSV","comments":"","instanceIdentifier":"4855799c-bcc4-347d-fbc9-306e5fb592c6"},"destination":{"id":"e05ab0b7-0198-1000-ac36-51068efe0f32","type":"PROCESSOR","groupId":"e05ab0b4-0198-1000-97db-ae2749dd1c38","name":"ExecuteScript","comments":"","instanceIdentifier":"ef6356c1-d7b5-328d-e809-adde59ea6214"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab0b4-0198-1000-97db-ae2749dd1c38"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab0bc-0198-1000-b03e-690100aa9537","instanceIdentifier":"94d3157d-4e08-318d-b28a-ce6f4aa05571","name":"route-messages","comments":"","position":{"x":-1640.0,"y":104.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e05ab0bd-0198-1000-3584-9576f551278b","instanceIdentifier":"cd772596-d866-3f04-8567-3c17fd77076c","name":"ExecuteScript","comments":"","position":{"x":-288.0,"y":-16.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import groovy.json.JsonSlurper\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    def content = session.read(flowFile).getText('UTF-8')\n    def update = new JsonSlurper().parseText(content)\n    \n    def eventType = update.callback_query ? \"callback\" : \n                    update.message?.text?.startsWith('/') ? \"command\" : \n                    \"unknown\"\n    \n    def messageData = update.callback_query?.data ?: update.message?.text ?: \"\"\n    def chatId = update.message?.chat?.id ?: update.callback_query?.message?.chat?.id ?: \"\"\n    \n\n    // Сохраняем все в атрибуты и передаем дальше\n    flowFile = session.putAllAttributes(flowFile, [\n        'telegram.event_type': eventType,\n        'telegram.message_data': messageData,\n        'telegram.chat_id': chatId.toString()\n    ])\n    \n    // Просто передаем дальше, а роутинг сделаем RouteOnAttribute\n    session.transfer(flowFile, REL_SUCCESS)\n    \n} catch (e) {\n    log.error(\"Ошибка формирования запроса: \" + e, e)\n    flowFile = session.putAttribute(flowFile, 'error.message', e.message)\n    session.transfer(flowFile, REL_FAILURE)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab0bc-0198-1000-b03e-690100aa9537"},{"identifier":"e05ab0be-0198-1000-90f2-5424ddc851aa","instanceIdentifier":"6b373a65-d5a3-3eb2-d431-3b3351543aa2","name":"RouteOnAttribute","comments":"","position":{"x":-288.0,"y":224.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Routing Strategy":"Route to Property name","callback":"${telegram.event_type:equals(\"callback\")}","command":"${telegram.event_type:equals(\"command\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"callback":{"name":"callback","displayName":"callback","identifiesControllerService":false,"sensitive":false,"dynamic":true},"command":{"name":"command","displayName":"command","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab0bc-0198-1000-b03e-690100aa9537"}],"inputPorts":[{"identifier":"e05ab0bf-0198-1000-d901-9556981339bb","instanceIdentifier":"d3e7cbb3-0718-3ebd-00d1-6c3d0876cf51","name":"input","position":{"x":-232.0,"y":-240.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"e05ab0bc-0198-1000-b03e-690100aa9537"}],"outputPorts":[{"identifier":"e05ab0c1-0198-1000-a34c-a2e9dc966893","instanceIdentifier":"6fa4d28e-fdcd-380b-52d0-416c1ce431c2","name":"command","position":{"x":-480.0,"y":552.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"e05ab0bc-0198-1000-b03e-690100aa9537"},{"identifier":"e05ab0c0-0198-1000-8c05-517fb1d25871","instanceIdentifier":"3dd47ea9-65ad-307f-f530-77ab7406ba66","name":"callback","position":{"x":88.0,"y":560.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"e05ab0bc-0198-1000-b03e-690100aa9537"}],"connections":[{"identifier":"e05ab0c2-0198-1000-fc3f-fa40d6490fa2","instanceIdentifier":"d22f67d0-f1eb-3337-55f4-8747cfe50486","name":"","source":{"id":"e05ab0be-0198-1000-90f2-5424ddc851aa","type":"PROCESSOR","groupId":"e05ab0bc-0198-1000-b03e-690100aa9537","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6b373a65-d5a3-3eb2-d431-3b3351543aa2"},"destination":{"id":"e05ab0c0-0198-1000-8c05-517fb1d25871","type":"OUTPUT_PORT","groupId":"e05ab0bc-0198-1000-b03e-690100aa9537","name":"callback","instanceIdentifier":"3dd47ea9-65ad-307f-f530-77ab7406ba66"},"labelIndex":0,"zIndex":0,"selectedRelationships":["callback"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab0bc-0198-1000-b03e-690100aa9537"},{"identifier":"e05ab0c5-0198-1000-ab00-0b3e2024ad65","instanceIdentifier":"d5fc416d-cd15-3c0d-1af9-83ca18e31e2a","name":"","source":{"id":"e05ab0bf-0198-1000-d901-9556981339bb","type":"INPUT_PORT","groupId":"e05ab0bc-0198-1000-b03e-690100aa9537","name":"input","instanceIdentifier":"d3e7cbb3-0718-3ebd-00d1-6c3d0876cf51"},"destination":{"id":"e05ab0bd-0198-1000-3584-9576f551278b","type":"PROCESSOR","groupId":"e05ab0bc-0198-1000-b03e-690100aa9537","name":"ExecuteScript","comments":"","instanceIdentifier":"cd772596-d866-3f04-8567-3c17fd77076c"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab0bc-0198-1000-b03e-690100aa9537"},{"identifier":"e05ab0c3-0198-1000-fdcf-9c6d3ffc3fee","instanceIdentifier":"2191c12c-d228-3de8-8464-6589c0293363","name":"","source":{"id":"e05ab0bd-0198-1000-3584-9576f551278b","type":"PROCESSOR","groupId":"e05ab0bc-0198-1000-b03e-690100aa9537","name":"ExecuteScript","comments":"","instanceIdentifier":"cd772596-d866-3f04-8567-3c17fd77076c"},"destination":{"id":"e05ab0be-0198-1000-90f2-5424ddc851aa","type":"PROCESSOR","groupId":"e05ab0bc-0198-1000-b03e-690100aa9537","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6b373a65-d5a3-3eb2-d431-3b3351543aa2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab0bc-0198-1000-b03e-690100aa9537"},{"identifier":"e05ab0c4-0198-1000-14dc-3706502b9aff","instanceIdentifier":"17127e15-ecf7-31fc-4dc9-f18a0c9415a0","name":"","source":{"id":"e05ab0be-0198-1000-90f2-5424ddc851aa","type":"PROCESSOR","groupId":"e05ab0bc-0198-1000-b03e-690100aa9537","name":"RouteOnAttribute","comments":"","instanceIdentifier":"6b373a65-d5a3-3eb2-d431-3b3351543aa2"},"destination":{"id":"e05ab0c1-0198-1000-a34c-a2e9dc966893","type":"OUTPUT_PORT","groupId":"e05ab0bc-0198-1000-b03e-690100aa9537","name":"command","instanceIdentifier":"6fa4d28e-fdcd-380b-52d0-416c1ce431c2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["command"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab0bc-0198-1000-b03e-690100aa9537"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab0c6-0198-1000-007c-27e10df82328","instanceIdentifier":"b33ad8ea-5faf-359f-9cfc-8e915ef025de","name":"Typing","comments":"","position":{"x":-992.0,"y":-160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e05ab0c8-0198-1000-ffac-518e0f3702e4","instanceIdentifier":"f8127612-27f6-3ff0-4d1b-5ec67535f02d","name":"InvokeHTTP","comments":"","position":{"x":503.99999581525117,"y":79.93909899379332},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.telegram.org/bot${telegrambot_token}/sendChatAction","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab0c6-0198-1000-007c-27e10df82328"},{"identifier":"e05ab0c7-0198-1000-70d3-a8efeaaeacc1","instanceIdentifier":"7ecae314-d429-3884-10a5-eeef4a1c46fe","name":"UpdateAttribute","comments":"","position":{"x":-856.0000041847488,"y":-152.06090100620668},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"loop_count":"${loop_count:plus(1)}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"loop_count":{"name":"loop_count","displayName":"loop_count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab0c6-0198-1000-007c-27e10df82328"},{"identifier":"e05ab0c9-0198-1000-b151-62e7c64fb4e4","instanceIdentifier":"7b628298-c867-3f15-eb00-95e3c42505d5","name":"ReplaceText","comments":"","position":{"x":-160.00000418474883,"y":79.93909899379332},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"chat_id\": \"${chat_id}\",\n  \"action\": \"typing\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"7 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab0c6-0198-1000-007c-27e10df82328"},{"identifier":"e05ab0cb-0198-1000-7747-ae7536f1ad75","instanceIdentifier":"21c96e14-c811-3059-8e8e-28e180c7d926","name":"RouteOnAttribute","comments":"","position":{"x":-160.00000418474883,"y":-152.06090100620668},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"next":"${loop_count:lt(11)}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"next":{"name":"next","displayName":"next","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab0c6-0198-1000-007c-27e10df82328"},{"identifier":"e05ab0ca-0198-1000-37a5-6117d8b00cf5","instanceIdentifier":"c203c2a9-ee8b-3ea1-aa47-e843e67f51d8","name":"UpdateAttribute","comments":"","position":{"x":-856.0000041847488,"y":63.93909899379332},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"loop_count":"0","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"loop_count":{"name":"loop_count","displayName":"loop_count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab0c6-0198-1000-007c-27e10df82328"}],"inputPorts":[{"identifier":"e05ab0cc-0198-1000-bc21-e5e446490340","instanceIdentifier":"f986b6b7-425c-3c47-26c4-5d7f9b009f4c","name":"input","position":{"x":-800.0,"y":320.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"e05ab0c6-0198-1000-007c-27e10df82328"}],"outputPorts":[],"connections":[{"identifier":"e05ab0ce-0198-1000-3433-482aee652952","instanceIdentifier":"5ebe3c52-9935-3e95-3dca-4d4444ddcc0b","name":"","source":{"id":"e05ab0cc-0198-1000-bc21-e5e446490340","type":"INPUT_PORT","groupId":"e05ab0c6-0198-1000-007c-27e10df82328","name":"input","instanceIdentifier":"f986b6b7-425c-3c47-26c4-5d7f9b009f4c"},"destination":{"id":"e05ab0ca-0198-1000-37a5-6117d8b00cf5","type":"PROCESSOR","groupId":"e05ab0c6-0198-1000-007c-27e10df82328","name":"UpdateAttribute","comments":"","instanceIdentifier":"c203c2a9-ee8b-3ea1-aa47-e843e67f51d8"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab0c6-0198-1000-007c-27e10df82328"},{"identifier":"e05ab0cd-0198-1000-9350-4410ce1ad2a3","instanceIdentifier":"65dcaa23-c0b5-37e2-36c0-0a43b4d6469d","name":"","source":{"id":"e05ab0cb-0198-1000-7747-ae7536f1ad75","type":"PROCESSOR","groupId":"e05ab0c6-0198-1000-007c-27e10df82328","name":"RouteOnAttribute","comments":"","instanceIdentifier":"21c96e14-c811-3059-8e8e-28e180c7d926"},"destination":{"id":"e05ab0c7-0198-1000-70d3-a8efeaaeacc1","type":"PROCESSOR","groupId":"e05ab0c6-0198-1000-007c-27e10df82328","name":"UpdateAttribute","comments":"","instanceIdentifier":"7ecae314-d429-3884-10a5-eeef4a1c46fe"},"labelIndex":0,"zIndex":0,"selectedRelationships":["next"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-321.98425711443633,"y":-207.93907483433168}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab0c6-0198-1000-007c-27e10df82328"},{"identifier":"e05ab0d1-0198-1000-b02c-77e9211407b4","instanceIdentifier":"ff4969e4-b4df-3992-d1b7-989ab89023fc","name":"","source":{"id":"e05ab0c7-0198-1000-70d3-a8efeaaeacc1","type":"PROCESSOR","groupId":"e05ab0c6-0198-1000-007c-27e10df82328","name":"UpdateAttribute","comments":"","instanceIdentifier":"7ecae314-d429-3884-10a5-eeef4a1c46fe"},"destination":{"id":"e05ab0cb-0198-1000-7747-ae7536f1ad75","type":"PROCESSOR","groupId":"e05ab0c6-0198-1000-007c-27e10df82328","name":"RouteOnAttribute","comments":"","instanceIdentifier":"21c96e14-c811-3059-8e8e-28e180c7d926"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab0c6-0198-1000-007c-27e10df82328"},{"identifier":"e05ab0d2-0198-1000-f1f1-bb3cede1b4ec","instanceIdentifier":"14c83ab4-f2cb-3695-ae6e-c8ba8a235064","name":"","source":{"id":"e05ab0cb-0198-1000-7747-ae7536f1ad75","type":"PROCESSOR","groupId":"e05ab0c6-0198-1000-007c-27e10df82328","name":"RouteOnAttribute","comments":"","instanceIdentifier":"21c96e14-c811-3059-8e8e-28e180c7d926"},"destination":{"id":"e05ab0c9-0198-1000-b151-62e7c64fb4e4","type":"PROCESSOR","groupId":"e05ab0c6-0198-1000-007c-27e10df82328","name":"ReplaceText","comments":"","instanceIdentifier":"7b628298-c867-3f15-eb00-95e3c42505d5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab0c6-0198-1000-007c-27e10df82328"},{"identifier":"e05ab0d0-0198-1000-9227-48f0bc12c127","instanceIdentifier":"e21e8b7c-e530-36ad-061a-0bd11cea31da","name":"","source":{"id":"e05ab0c9-0198-1000-b151-62e7c64fb4e4","type":"PROCESSOR","groupId":"e05ab0c6-0198-1000-007c-27e10df82328","name":"ReplaceText","comments":"","instanceIdentifier":"7b628298-c867-3f15-eb00-95e3c42505d5"},"destination":{"id":"e05ab0c8-0198-1000-ffac-518e0f3702e4","type":"PROCESSOR","groupId":"e05ab0c6-0198-1000-007c-27e10df82328","name":"InvokeHTTP","comments":"","instanceIdentifier":"f8127612-27f6-3ff0-4d1b-5ec67535f02d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab0c6-0198-1000-007c-27e10df82328"},{"identifier":"e05ab0cf-0198-1000-edeb-c218e8a5df42","instanceIdentifier":"fdfde4e6-380c-3010-b6bd-a2e9dcdf2bf3","name":"","source":{"id":"e05ab0ca-0198-1000-37a5-6117d8b00cf5","type":"PROCESSOR","groupId":"e05ab0c6-0198-1000-007c-27e10df82328","name":"UpdateAttribute","comments":"","instanceIdentifier":"c203c2a9-ee8b-3ea1-aa47-e843e67f51d8"},"destination":{"id":"e05ab0c7-0198-1000-70d3-a8efeaaeacc1","type":"PROCESSOR","groupId":"e05ab0c6-0198-1000-007c-27e10df82328","name":"UpdateAttribute","comments":"","instanceIdentifier":"7ecae314-d429-3884-10a5-eeef4a1c46fe"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab0c6-0198-1000-007c-27e10df82328"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab099-0198-1000-74cc-e534f3e43062","instanceIdentifier":"e48866bb-58bb-3d82-b08a-4e1cd8d1ad9d","name":"Query-Chat-Cycle","comments":"","position":{"x":-1640.0,"y":-160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e05ab09b-0198-1000-15c0-3c9f9fa900b1","instanceIdentifier":"1177dc0d-33f8-3bdf-1423-26309f6aca95","name":"UpdateAttribute","comments":"","position":{"x":807.9999432922632,"y":-63.999984794332704},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"offset":"${update_id:plus(1)}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"offset":{"name":"offset","displayName":"offset","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"},{"identifier":"e05ab09a-0198-1000-5f06-d9ece624e91e","instanceIdentifier":"38ddbafd-5d87-3cf0-7852-531832fac492","name":"EvaluateJsonPath","comments":"","position":{"x":111.9999432922632,"y":-63.999984794332704},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"update_id":"$.update_id","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","chat_id":"$.callback_query.message.chat.id"},"propertyDescriptors":{"update_id":{"name":"update_id","displayName":"update_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"chat_id":{"name":"chat_id","displayName":"chat_id","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"},{"identifier":"e05ab09d-0198-1000-cf30-919e868f984e","instanceIdentifier":"ee6f927e-e2fb-342e-5d5e-83486bb68887","name":"SplitJson","comments":"","position":{"x":-536.0000567077368,"y":-63.999984794332704},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.result.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"},{"identifier":"e05ab09c-0198-1000-d9f7-7e43d0c6cb41","instanceIdentifier":"e23bea2c-d99c-3cf7-fbbd-8d892a366b0f","name":"InvokeHTTP","comments":"","position":{"x":-1160.0000567077368,"y":-63.999984794332704},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.telegram.org/bot${telegrambot_token}/getUpdates?offset=${offset}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"}],"inputPorts":[{"identifier":"e05ab09e-0198-1000-73d1-479aca77b9a3","instanceIdentifier":"6d3e7440-efb9-3e26-0560-5dc1f7a42de2","name":"input","position":{"x":-1104.0,"y":-248.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"}],"outputPorts":[{"identifier":"e05ab09f-0198-1000-9077-97219e12fe8f","instanceIdentifier":"a792fb3d-3985-3eed-adce-f64e9ae81805","name":"output","position":{"x":864.0,"y":480.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"}],"connections":[{"identifier":"e05ab0a5-0198-1000-896b-bce1d07f2915","instanceIdentifier":"0c33becf-6d93-3208-944f-4c9a41d84c27","name":"","source":{"id":"e05ab0a1-0198-1000-5085-927bfea04a0f","type":"FUNNEL","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"Funnel","comments":"","instanceIdentifier":"bd6d525a-e9a5-3709-9c0e-03b939cb9348"},"destination":{"id":"e05ab0a0-0198-1000-2e07-762aa8926e26","type":"FUNNEL","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"Funnel","comments":"","instanceIdentifier":"ef26fb7f-113b-3179-075e-0f8ae5ec9fa0"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"},{"identifier":"e05ab0a7-0198-1000-979b-635cc85fd46d","instanceIdentifier":"a0b33434-fd4d-3d4b-b369-0d42eaeb35c6","name":"","source":{"id":"e05ab09e-0198-1000-73d1-479aca77b9a3","type":"INPUT_PORT","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"input","instanceIdentifier":"6d3e7440-efb9-3e26-0560-5dc1f7a42de2"},"destination":{"id":"e05ab09c-0198-1000-d9f7-7e43d0c6cb41","type":"PROCESSOR","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"InvokeHTTP","comments":"","instanceIdentifier":"e23bea2c-d99c-3cf7-fbbd-8d892a366b0f"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"},{"identifier":"e05ab0a2-0198-1000-78e0-d0d924c7bd8a","instanceIdentifier":"ce52d037-38f0-35a2-1ca9-fc69dff62ce6","name":"","source":{"id":"e05ab09a-0198-1000-5f06-d9ece624e91e","type":"PROCESSOR","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"38ddbafd-5d87-3cf0-7852-531832fac492"},"destination":{"id":"e05ab09b-0198-1000-15c0-3c9f9fa900b1","type":"PROCESSOR","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"UpdateAttribute","comments":"","instanceIdentifier":"1177dc0d-33f8-3bdf-1423-26309f6aca95"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"},{"identifier":"e05ab0a3-0198-1000-1830-61206117a197","instanceIdentifier":"c5f8c992-ee76-31d5-40c2-1455e791af09","name":"","source":{"id":"e05ab0a0-0198-1000-2e07-762aa8926e26","type":"FUNNEL","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"Funnel","comments":"","instanceIdentifier":"ef26fb7f-113b-3179-075e-0f8ae5ec9fa0"},"destination":{"id":"e05ab09c-0198-1000-d9f7-7e43d0c6cb41","type":"PROCESSOR","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"InvokeHTTP","comments":"","instanceIdentifier":"e23bea2c-d99c-3cf7-fbbd-8d892a366b0f"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"},{"identifier":"e05ab0a9-0198-1000-eddd-48e6e438b251","instanceIdentifier":"933b7440-e66e-36fa-531f-7e305788fd24","name":"","source":{"id":"e05ab09d-0198-1000-cf30-919e868f984e","type":"PROCESSOR","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"SplitJson","comments":"","instanceIdentifier":"ee6f927e-e2fb-342e-5d5e-83486bb68887"},"destination":{"id":"e05ab09a-0198-1000-5f06-d9ece624e91e","type":"PROCESSOR","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"38ddbafd-5d87-3cf0-7852-531832fac492"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"},{"identifier":"e05ab0a4-0198-1000-a87e-0b6416ca3020","instanceIdentifier":"3c054207-9c39-30f6-b78e-8491016771d5","name":"","source":{"id":"e05ab0a1-0198-1000-5085-927bfea04a0f","type":"FUNNEL","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"Funnel","comments":"","instanceIdentifier":"bd6d525a-e9a5-3709-9c0e-03b939cb9348"},"destination":{"id":"e05ab09f-0198-1000-9077-97219e12fe8f","type":"OUTPUT_PORT","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"output","instanceIdentifier":"a792fb3d-3985-3eed-adce-f64e9ae81805"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"},{"identifier":"e05ab0a8-0198-1000-0e23-f9ea1b88c0ad","instanceIdentifier":"75d6e48d-fe8a-3635-bdd7-67b7c2f41e05","name":"","source":{"id":"e05ab09c-0198-1000-d9f7-7e43d0c6cb41","type":"PROCESSOR","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"InvokeHTTP","comments":"","instanceIdentifier":"e23bea2c-d99c-3cf7-fbbd-8d892a366b0f"},"destination":{"id":"e05ab09d-0198-1000-cf30-919e868f984e","type":"PROCESSOR","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"SplitJson","comments":"","instanceIdentifier":"ee6f927e-e2fb-342e-5d5e-83486bb68887"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"},{"identifier":"e05ab0a6-0198-1000-ae0e-d957adabc56c","instanceIdentifier":"a5295620-dd3d-3764-97e4-5d2b920e237f","name":"","source":{"id":"e05ab09b-0198-1000-15c0-3c9f9fa900b1","type":"PROCESSOR","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"UpdateAttribute","comments":"","instanceIdentifier":"1177dc0d-33f8-3bdf-1423-26309f6aca95"},"destination":{"id":"e05ab0a1-0198-1000-5085-927bfea04a0f","type":"FUNNEL","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"Funnel","comments":"","instanceIdentifier":"bd6d525a-e9a5-3709-9c0e-03b939cb9348"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"}],"labels":[],"funnels":[{"identifier":"e05ab0a1-0198-1000-5085-927bfea04a0f","instanceIdentifier":"bd6d525a-e9a5-3709-9c0e-03b939cb9348","position":{"x":960.0,"y":256.0},"componentType":"FUNNEL","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"},{"identifier":"e05ab0a0-0198-1000-2e07-762aa8926e26","instanceIdentifier":"ef26fb7f-113b-3179-075e-0f8ae5ec9fa0","position":{"x":-1008.0,"y":256.0},"componentType":"FUNNEL","groupIdentifier":"e05ab099-0198-1000-74cc-e534f3e43062"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"}],"remoteProcessGroups":[],"processors":[{"identifier":"e05ab091-0198-1000-7a79-2ae966393bbb","instanceIdentifier":"7d7bcdd8-e6ce-32bb-23e5-bff7aea59d0d","name":"ExecuteScript","comments":"","position":{"x":-976.0,"y":128.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // 1. Получаем данные из атрибутов\n    def callbackData = flowFile.getAttribute('telegram.message_data')\n    def currentScene = flowFile.getAttribute('current_scene') ?: \"start\"\n\tdef configFile = flowFile.getAttribute('configFile')\n\n    // 2. Загружаем конфигурацию\n    def config = new JsonSlurper().parse(new File(configFile))\n    \n    // 3. Обрабатываем callback и получаем результат\n    def result = processCallback(callbackData, currentScene, config)\n    def response = result.response\n    def newScene = result.scene\n\n    // Определяем endpoint based on media type\n\tdef endpoint = 'sendMessage'\n\t\tif (response.photo) {\n    \t\tendpoint = 'sendPhoto'\n\t\t} else if (response.video) {\n    \t\tendpoint = 'sendVideo' \n\t\t} else if (response.audio) {\n    \t\tendpoint = 'sendAudio'\n\t\t}\n\n    // 4. Добавляем кнопки меню\n    addMenuButtons(response)\n\n\t// Сохраняем результат\n\tflowFile = session.putAllAttributes(flowFile, [\n    \t'current_scene': newScene,\n    \t'telegram.endpoint': endpoint,\n    \t'response.json': JsonOutput.toJson(response),\n    \t'response.parse_mode': 'MarkdownV2'\n\t])\n\n    session.transfer(flowFile, REL_SUCCESS)\n    \n} catch (e) {\n    log.error(\"Ошибка формирования запроса: \" + e, e)\n    flowFile = session.putAttribute(flowFile, 'error.message', e.message)\n    session.transfer(flowFile, REL_FAILURE)\n}\n\n\n// Главная функция обработки callback\ndef processCallback(callbackData, currentScene, config) {\n    def result = [response: [:], scene: currentScene]\n    \n    switch (callbackData) {\n        case { it?.startsWith(\"scene:\") }:\n            result = handleSceneTransition(callbackData, config, currentScene)\n            break\n            \n        case { it?.startsWith(\"quest:\") && !it?.contains(\":answer:\") }:\n            result = handleQuestStart(callbackData, config, currentScene)\n            break\n            \n        case { it?.startsWith(\"quest:\") && it?.contains(\":answer:\") }:\n            result = handleQuestAnswer(callbackData, config, currentScene)\n            break\n            \n        default:\n            result.response = [text: \"⚠️ Неизвестная команда\"]\n            break\n    }\n    \n    return result\n}\n\n// Обработка переходов между сценами\ndef handleSceneTransition(callbackData, config, currentScene) {\n    def sceneName = callbackData.replace(\"scene:\", \"\")\n    return [\n        response: config.scenes[sceneName],\n        scene: sceneName\n    ]\n}\n\n// Обработка начала квеста\ndef handleQuestStart(callbackData, config, currentScene) {\n    def questId = callbackData.replace(\"quest:\", \"\")\n    def quest = config.quests[questId]\n    \n    if (quest) {\n        return [\n            response: buildQuestResponse(quest),\n            scene: \"quest:\" + questId\n        ]\n    } else {\n        return [\n            response: [text: \"❌ Задание не найдено\"],\n            scene: currentScene\n        ]\n    }\n}\n\n\n// Обработка ответов на вопросы квестов\ndef handleQuestAnswer(callbackData, config, currentScene) {\n    def parts = callbackData.split(\":\")\n    if (parts.size() >= 4) {\n        def questId = parts[1]\n        def quest = config.quests[questId]\n        \n        if (quest) {\n            def answer = quest.answers[callbackData]\n            if (answer) {\n                return handleAnswerTransition(answer, config, currentScene)\n            } else {\n                return [\n                    response: [text: \"❌ Ответ не найден\"],\n                    scene: currentScene\n                ]\n            }\n        } else {\n            return [\n                response: [text: \"❌ Задание не найдено\"],\n                scene: currentScene\n            ]\n        }\n    } else {\n        return [\n            response: [text: \"⚠️ Неверный формат ответа\"],\n            scene: currentScene\n        ]\n    }\n}\n// Обработка перехода к следующему квесту (тоже нужно обновить)\ndef handleQuestTransition(nextQuestId, config, currentScene) {\n    def questId = nextQuestId.replace(\"quest:\", \"\")\n    def nextQuest = config.quests[questId]\n    \n    if (nextQuest) {\n        return [\n            response: buildQuestResponse(nextQuest),\n            scene: \"quest:\" + questId\n        ]\n    } else {\n        return [\n            response: [text: \"❌ Следующее задание не найдено\"],\n            scene: currentScene\n        ]\n    }\n}\n\n// Обновленная функция создания ответа для квеста\ndef buildQuestResponse(quest) {\n    if (!quest) return [text: \"❌ Ошибка: задание не найдено\"]\n    \n    def response = [:]\n    \n    // Добавляем медиафайлы если есть\n    if (quest.image) {\n        response.photo = \"/opt/nifi/quest/images/\" + quest.image\n        response.caption = quest.text\n        response.parse_mode = 'MarkdownV2'\n    } else if (quest.video) {\n        response.video = \"/opt/nifi/quest/video/\" + quest.video  \n        response.caption = quest.text\n        response.parse_mode = 'MarkdownV2'\n    } else if (quest.audio) {\n        response.audio = \"/opt/nifi/quest/audio/\" + quest.audio\n        response.caption = quest.text\n        response.parse_mode = 'MarkdownV2'\n    } else {\n        // Если нет медиа - просто текст\n        response.text = quest.text\n        response.parse_mode = 'MarkdownV2'\n    }\n    \n    // Добавляем кнопки ответов если есть\n    if (quest.answers) {\n        def keyboard = []\n        quest.answers.each { key, answer ->\n            keyboard << [text: answer.text, callback_data: key]\n        }\n        response.reply_markup = [inline_keyboard: [keyboard]]\n    }\n    \n    return response\n}\n\n// Добавление кнопок меню к ответу\ndef addMenuButtons(response) {\n    if (response && response instanceof Map) {\n        // Если response - простой текст (без reply_markup)\n        if (!response.reply_markup && response.text) {\n            response.reply_markup = [inline_keyboard: []]\n        }\n        \n        // Добавляем кнопки меню\n        if (response.reply_markup) {\n            def menuButton = [text: \"\uD83C\uDFE0 Меню\", callback_data: \"scene:start\"]\n            def helpButton = [text: \"❓ Помощь\", callback_data: \"scene:help\"]\n            \n            def menuRow = [menuButton, helpButton]\n            \n            if (response.reply_markup.inline_keyboard instanceof List) {\n                response.reply_markup.inline_keyboard.add(menuRow)\n            } else {\n                response.reply_markup.inline_keyboard = [menuRow]\n            }\n        }\n    }\n}\n\n// Обработка переходов по ответам\ndef handleAnswerTransition(answer, config, currentScene) {\n    if (!answer) {\n        return [response: [text: \"❌ Ответ не распознан\"], scene: currentScene]\n    }\n    \n    def result = [scene: currentScene]\n    \n    // Обрабатываем переход\n    if (answer.next) {\n        if (answer.next.startsWith(\"quest:\")) {\n            def nextQuestId = answer.next.replace(\"quest:\", \"\")\n            def nextQuest = config.quests[nextQuestId]\n            if (nextQuest) {\n                result.response = buildQuestResponse(nextQuest)\n                result.scene = \"quest:\" + nextQuestId\n            }\n        } else if (answer.next.startsWith(\"scene:\")) {\n            def sceneName = answer.next.replace(\"scene:\", \"\")\n            def nextScene = config.scenes[sceneName]\n            if (nextScene) {\n                result.response = nextScene\n                result.scene = sceneName\n            }\n        }\n    }\n    \n    // Если есть response - добавляем/заменяем текст\n    if (answer.response) {\n        if (result.response && result.response.text) {\n            // Добавляем response к существующему тексту\n            result.response.text = answer.response + \"\\n\\n\" + result.response.text\n        } else {\n            // Создаем новое текстовое сообщение\n            result.response = [text: answer.response, parse_mode: 'MarkdownV2']\n        }\n    }\n    \n    return result\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab092-0198-1000-a045-651d6a8cf822","instanceIdentifier":"99c9f104-0dd5-3b57-0448-38454943b42d","name":"ExecuteScript","comments":"","position":{"x":-2256.0,"y":128.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import groovy.json.JsonSlurper\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // 1. Загружаем конфигурацию\n    def config = new JsonSlurper().parse(new File('/home/unifi/data/SandBox/TelegramBot/tasks.json'))\n    \n    // 2. Получаем данные из атрибутов\n    def command = flowFile.getAttribute('telegram.message_data')\n    def currentScene = flowFile.getAttribute('current_scene') ?: \"start\"\n    def response = [:]\n    \n    // 3. Обработка команд\n    if (command == \"/start\" || command == \"/menu\") {\n        currentScene = \"start\"\n        response = config.scenes.start\n    } else if (command == \"/help\") {\n        currentScene = \"help\" \n        response = config.scenes.help\n    }\n    \n    // 4. Сохраняем результат\n    flowFile = session.putAllAttributes(flowFile, [\n        'current_scene': currentScene,\n        'response.json': new groovy.json.JsonOutput().toJson(response),\n        'response.parse_mode': 'MarkdownV2'\n    ])\n    \n    session.transfer(flowFile, REL_SUCCESS)\n    \n} catch (e) {\n    log.error(\"Ошибка формирования запроса: \" + e, e)\n    flowFile = session.putAttribute(flowFile, 'error.message', e.message)\n    session.transfer(flowFile, REL_FAILURE)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab096-0198-1000-9e26-0128600b6a1d","instanceIdentifier":"ea581143-faf0-33dc-2c1a-01cd0c3239a2","name":"GlobalSettings","comments":"","position":{"x":-1624.0,"y":-384.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"telegrambot_token":"<your telegram bot token>","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","configFile":"<your/path/to>/tasks.json","Stateful Variables Initial Value":null},"propertyDescriptors":{"telegrambot_token":{"name":"telegrambot_token","displayName":"telegrambot_token","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"configFile":{"name":"configFile","displayName":"configFile","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab090-0198-1000-fcc7-971d0fb24533","instanceIdentifier":"6cb8610a-88ed-3d6c-27bc-e4d17a7f2919","name":"ExecuteScript","comments":"","position":{"x":-1624.0,"y":408.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // 1. Получаем готовый JSON из атрибута (уже сформированный первым скриптом)\n    def responseJson = flowFile.getAttribute('response.json')\n    \n    // 2. Проверяем обязательные поля\n    if (!responseJson) {\n        throw new Exception(\"Отсутствует атрибут response.json\")\n    }\n    \n    // 3. Парсим JSON, чтобы убедиться в его валидности\n    def telegramRequest = new JsonSlurper().parseText(responseJson)\n    \n    // 4. Добавляем/перезаписываем обязательные поля\n    telegramRequest.chat_id = flowFile.getAttribute('telegram.chat_id')\n    \n    // 5. Обновляем parse_mode если нужно\n    def parseMode = flowFile.getAttribute('response.parse_mode')\n    if (parseMode && parseMode != 'none') {\n        telegramRequest.parse_mode = parseMode\n    }\n    \n    // 6. Конвертируем обратно в JSON строку\n    def jsonOutput = JsonOutput.toJson(telegramRequest)\n    \n    // 7. Записываем в FlowFile\n    flowFile = session.write(flowFile, { inputStream, outputStream ->\n        outputStream.write(jsonOutput.getBytes('UTF-8'))\n    } as StreamCallback)\n    \n    // 8. Устанавливаем необходимые атрибуты\n    flowFile = session.putAttribute(flowFile, 'mime.type', 'application/json')\n    flowFile = session.putAttribute(flowFile, 'telegram.endpoint', 'sendMessage')\n    \n    session.transfer(flowFile, REL_SUCCESS)\n} catch (e) {\n    log.error(\"Ошибка формирования запроса: \" + e, e)\n    flowFile = session.putAttribute(flowFile, 'error.message', e.message)\n    session.transfer(flowFile, REL_FAILURE)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab094-0198-1000-8a13-d4d86e2846fc","instanceIdentifier":"b95869ea-1d79-3c14-e0ce-af5b96fc04df","name":"GenerateFlowFile","comments":"","position":{"x":-1624.0,"y":-584.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab093-0198-1000-9d7f-6087f5c314f1","instanceIdentifier":"27e90ca8-3b54-3e29-2e9a-f3133d1893ad","name":"InvokeHTTP","comments":"","position":{"x":-1624.0,"y":608.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.telegram.org/bot${telegrambot_token}/sendMessage","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e05ab0dc-0198-1000-3aa0-e7d05ac83395","instanceIdentifier":"518b7894-28ba-3990-ca5a-e42791644ac3","name":"","source":{"id":"e05ab09f-0198-1000-9077-97219e12fe8f","type":"OUTPUT_PORT","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"output","instanceIdentifier":"a792fb3d-3985-3eed-adce-f64e9ae81805"},"destination":{"id":"e05ab0cc-0198-1000-bc21-e5e446490340","type":"INPUT_PORT","groupId":"e05ab0c6-0198-1000-007c-27e10df82328","name":"input","instanceIdentifier":"f986b6b7-425c-3c47-26c4-5d7f9b009f4c"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab0d8-0198-1000-8787-af6b4173d745","instanceIdentifier":"8440966c-16c4-302d-63a2-84abdfadfb14","name":"","source":{"id":"e05ab0c0-0198-1000-8c05-517fb1d25871","type":"OUTPUT_PORT","groupId":"e05ab0bc-0198-1000-b03e-690100aa9537","name":"callback","instanceIdentifier":"3dd47ea9-65ad-307f-f530-77ab7406ba66"},"destination":{"id":"e05ab091-0198-1000-7a79-2ae966393bbb","type":"PROCESSOR","groupId":"e05ab08e-0198-1000-2a6d-5f99de5da10b","name":"ExecuteScript","comments":"","instanceIdentifier":"7d7bcdd8-e6ce-32bb-23e5-bff7aea59d0d"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab0d9-0198-1000-c816-b85fd0d484e7","instanceIdentifier":"c9897dfa-b063-3b18-107b-142d9a78cb48","name":"","source":{"id":"e05ab094-0198-1000-8a13-d4d86e2846fc","type":"PROCESSOR","groupId":"e05ab08e-0198-1000-2a6d-5f99de5da10b","name":"GenerateFlowFile","comments":"","instanceIdentifier":"b95869ea-1d79-3c14-e0ce-af5b96fc04df"},"destination":{"id":"e05ab096-0198-1000-9e26-0128600b6a1d","type":"PROCESSOR","groupId":"e05ab08e-0198-1000-2a6d-5f99de5da10b","name":"GlobalSettings","comments":"","instanceIdentifier":"ea581143-faf0-33dc-2c1a-01cd0c3239a2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab0de-0198-1000-6f1c-56161db804d7","instanceIdentifier":"0343c42b-ef2b-3399-6006-1abc79ce8373","name":"","source":{"id":"e05ab096-0198-1000-9e26-0128600b6a1d","type":"PROCESSOR","groupId":"e05ab08e-0198-1000-2a6d-5f99de5da10b","name":"GlobalSettings","comments":"","instanceIdentifier":"ea581143-faf0-33dc-2c1a-01cd0c3239a2"},"destination":{"id":"e05ab09e-0198-1000-73d1-479aca77b9a3","type":"INPUT_PORT","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"input","instanceIdentifier":"6d3e7440-efb9-3e26-0560-5dc1f7a42de2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab0d7-0198-1000-d32d-14bf37cc0837","instanceIdentifier":"deb7166c-97c2-3149-02eb-800c266c1b2c","name":"","source":{"id":"e05ab0c1-0198-1000-a34c-a2e9dc966893","type":"OUTPUT_PORT","groupId":"e05ab0bc-0198-1000-b03e-690100aa9537","name":"command","instanceIdentifier":"6fa4d28e-fdcd-380b-52d0-416c1ce431c2"},"destination":{"id":"e05ab092-0198-1000-a045-651d6a8cf822","type":"PROCESSOR","groupId":"e05ab08e-0198-1000-2a6d-5f99de5da10b","name":"ExecuteScript","comments":"","instanceIdentifier":"99c9f104-0dd5-3b57-0448-38454943b42d"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab0da-0198-1000-1154-e3d3f52da79e","instanceIdentifier":"70071365-ff16-3d56-11b7-ba44c1ea2db9","name":"","source":{"id":"e05ab093-0198-1000-9d7f-6087f5c314f1","type":"PROCESSOR","groupId":"e05ab08e-0198-1000-2a6d-5f99de5da10b","name":"InvokeHTTP","comments":"","instanceIdentifier":"27e90ca8-3b54-3e29-2e9a-f3133d1893ad"},"destination":{"id":"e05ab0b8-0198-1000-d379-fc5df8d9fbfa","type":"INPUT_PORT","groupId":"e05ab0b4-0198-1000-97db-ae2749dd1c38","name":"input","instanceIdentifier":"5e94f444-a7eb-32fb-7c23-b6ff3d1c64f2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab0d4-0198-1000-6baf-b2099e76bab9","instanceIdentifier":"f9c355c5-8f45-32bc-9b08-cd230e3b59ee","name":"","source":{"id":"e05ab092-0198-1000-a045-651d6a8cf822","type":"PROCESSOR","groupId":"e05ab08e-0198-1000-2a6d-5f99de5da10b","name":"ExecuteScript","comments":"","instanceIdentifier":"99c9f104-0dd5-3b57-0448-38454943b42d"},"destination":{"id":"e05ab090-0198-1000-fcc7-971d0fb24533","type":"PROCESSOR","groupId":"e05ab08e-0198-1000-2a6d-5f99de5da10b","name":"ExecuteScript","comments":"","instanceIdentifier":"6cb8610a-88ed-3d6c-27bc-e4d17a7f2919"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab0d6-0198-1000-bc8b-74895bbaabc0","instanceIdentifier":"1d13650a-bac1-3067-a829-9c911f9e630d","name":"","source":{"id":"e05ab091-0198-1000-7a79-2ae966393bbb","type":"PROCESSOR","groupId":"e05ab08e-0198-1000-2a6d-5f99de5da10b","name":"ExecuteScript","comments":"","instanceIdentifier":"7d7bcdd8-e6ce-32bb-23e5-bff7aea59d0d"},"destination":{"id":"e05ab090-0198-1000-fcc7-971d0fb24533","type":"PROCESSOR","groupId":"e05ab08e-0198-1000-2a6d-5f99de5da10b","name":"ExecuteScript","comments":"","instanceIdentifier":"6cb8610a-88ed-3d6c-27bc-e4d17a7f2919"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab0dd-0198-1000-0c17-5b72baa5e4d8","instanceIdentifier":"6d2dee25-c722-3de6-cd1c-b857b714ba7b","name":"","source":{"id":"e05ab09f-0198-1000-9077-97219e12fe8f","type":"OUTPUT_PORT","groupId":"e05ab099-0198-1000-74cc-e534f3e43062","name":"output","instanceIdentifier":"a792fb3d-3985-3eed-adce-f64e9ae81805"},"destination":{"id":"e05ab0bf-0198-1000-d901-9556981339bb","type":"INPUT_PORT","groupId":"e05ab0bc-0198-1000-b03e-690100aa9537","name":"input","instanceIdentifier":"d3e7cbb3-0718-3ebd-00d1-6c3d0876cf51"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"},{"identifier":"e05ab0d3-0198-1000-6339-6034653f1d10","instanceIdentifier":"46bf11e2-0b61-3fa3-7e54-54c9b88f5556","name":"","source":{"id":"e05ab090-0198-1000-fcc7-971d0fb24533","type":"PROCESSOR","groupId":"e05ab08e-0198-1000-2a6d-5f99de5da10b","name":"ExecuteScript","comments":"","instanceIdentifier":"6cb8610a-88ed-3d6c-27bc-e4d17a7f2919"},"destination":{"id":"e05ab093-0198-1000-9d7f-6087f5c314f1","type":"PROCESSOR","groupId":"e05ab08e-0198-1000-2a6d-5f99de5da10b","name":"InvokeHTTP","comments":"","instanceIdentifier":"27e90ca8-3b54-3e29-2e9a-f3133d1893ad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"e05ab08f-0198-1000-db5d-3b5cb50c72c4","instanceIdentifier":"00652d58-d860-37db-afb4-79a158c6d504","name":"MapCacheClientService-Wait","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.3.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e05ab08e-0198-1000-2a6d-5f99de5da10b"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}